*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;   
}
.container{
    width: 100%;
    height: 100%;
    background: #b8b6a3;
}
.menu ul {
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: white;
    cursor: pointer;
}
.logo img{
    width: 30px;
    margin-top: -7px;
    margin-right: 48px;
}
.active{
    color: #65aaab !important;
}
.explore-btn{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#787878,#787878),radial-gradient(circle at top left, #19d7f8,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    
}
.explore-btn {
    display: block;
    padding: 8px 22px;
    
}

.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color:#a87063 
}

.text-1{
    width:50%;
    float:left;
    
}

.text-1 h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
    
}

.text-1 p{
   width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: white;
}
.picture-1{
    width: 40%;
    float: right;
}
.picture-1 img{
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
}
.play-btn{
    margin-left: 40px;
    display: inline-flex;
}
.play-btn-inner{
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#b8b6a3,#b8b6a3),radial-gradient(circle at top left, #65aaab,#65aaab);
    background-origin: border-box;
    background-clip: content-box,border-box;
    text-align: center;
}
.play-btn-inner .fa{
    padding: 18px 0;
    font-size: 13px;
    cursor: pointer;
}
small{
    margin: auto 20px;
    cursor: pointer;
    font-size: 12px;
    color:#8f6257;
    letter-spacing: 3px;
}



































